:root {
    --main-bg-color: #f4f4f6;
    --main-color: #B30036;
  }

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;     
}

html {
  overflow-y: scroll !important;
}

body{
    background: var(--main-bg-color);
}
/*---------------top banner-------------------*/
.carousel-top{
    background-color: var(--main-color);
    text-align: center; 
    padding: 0.4em 0;  
  }
  
  .top-ban{
    font-size: 1.1rem;
    text-shadow: 2px 3px 8px #00000063;
  }


  /*----------------carrusel principal------------------*/

  .main-carousel img{
    height: 100vh;
    object-fit: cover;
  }

  /*---------------------------------------------------*/

  .h-divider {
    margin: auto;
    margin-top: 80px;
    width: 97%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
    box-shadow: none !important;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }
  
  
  /*------------------nueva mercancia---------------------*/

  .nueva-mercancia-flex img{
    width: 150px;
    height: 150px;
    position: relative;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }

  .nueva-mercancia-flex img:hover{
    width: 160px;
    height: 160px;
    border: 1px solid #1c28268d;
    box-shadow: rgb(38, 57, 77) 0px 20px 15px -10px;
  }
 
  .nueva-mercancia-flex{
    gap:3em;
    margin: 3em auto 0 auto;
    padding-bottom: 6em;
  }

  @media (max-width:360px){

    .nueva-mercancia-flex img{
      width: 90px;
      height: 90px;

    }
  
    .nueva-mercancia-flex img:hover{
      width: 90px;
      height: 90px;

    }
    .nueva-mercancia-flex{
      gap:1.5em;
      font-size: 0.7rem;

    }
  }
  
  .container-nueva-mercancia h2{
    font-size: 1.1rem;
    margin-top: 1.5em;
    padding: 0.5em;
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
  }
  
  .nueva-mercancia-item p{
    margin:0;
  }
  
  .nueva-mercancia-item p:nth-child(2){
    margin-top:0.5em;
  }
  .nueva-mercancia-item p:nth-child(3){
    color:rgba(0, 0, 0, 0.500);
    margin:0;
  }
  .nueva-mercancia-item span{
    font-weight: bolder;
    color:rgb(0, 0, 0);
  }
  
  .container-img-nm{
    position: relative;
  }
  .texto-nuevo{
    position:absolute;
    top: 0;
    right: 0;
    font-size: 0.7rem;
    background: #B30036;
    color: #ffffff;
    padding: 0.2em 0.5em;
  }

  .image-container-about{
    background-image: url('../img/contactus.jpg');
    background-position: center;
    object-fit: cover;
    width: 100%;
    height:800px;
  }

  /******************************/

  .fade-in-section {
    opacity: 0;
    transform: scale(0.94);
    transition: 0.3s ease-in-out all; 
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: scale(1);
  }



  /*********************************/
  
 .text-emprender{
  width:50%;
  padding:0;
  color:var(--main-bg-color);
  text-shadow: 2px 7px 5px rgba(0,0,0,0.2), 
    0px -4px 10px rgba(255,255,255,0.2);
 } 

 .text-emprender h2{
  margin: auto;
  font-size: 2.5rem;
  text-align: center;
 }

 .video-container{
  background-image: url('/img/black-linen.png') , url('/img/aprende.jpg');
  background-size: cover;
  margin:3em 0;
  padding:7em 1em;
  
  }
  
  .ratio{
  width:75%;
   margin: 0 auto;
  }

 .video-container-animation{
  animation: myAnim 10s ease-in 0s 1 normal forwards;
  }
  @keyframes myAnim {
    0% {
      background-size: 90%;
    }
  
    100% {
      background-size: 100%;
    }
  }

@media (max-width:992px){
 .text-emprender h2{
  font-size: 1.8rem;
 }
 .text-emprender h4{
  font-size: 1.2rem;
 }
}
@media (max-width:768px){
  .text-emprender h2{
   font-size: 1.2rem;
  }
  .text-emprender h4{
    font-size: 0.9rem;
   }
 }

 @media (max-width:576px){

  .video-container{
    padding:3em 0;
  };
  .text-emprender{
    width:90%;
  }
  .text-emprender h2{
   font-size: 1rem;
  }
  .text-emprender h4{
    font-size: 0.8rem;
   }
 }

  /*------------------------------------------INFO GRID-------------------------------------*/
.info-grid{
  margin: 4em 0;
  }
  
  .cols {
  font-family:Arial, Helvetica, sans-serif;
  overflow: hidden;
  height:100%;
  min-height:400px;
  }
  
  .cols1{
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%),url('../img/coro.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  }
  
  .cols2{
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%),url('../img/maracay2.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  }
  
  .cols3{
  background-image:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%), url('../img/carupano.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  }
  
  .btn {border-radius: 0;}
  
  .cols h1{
  font-weight: 900;
  font-size: 2rem;
  }
  
  .cols h2{
  margin-top: 9em;
  text-align: center;
  font-size: 2rem;
  line-height: normal;
  text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.300);
  }
  
  @media (max-width:480px){
    .cols h2{
      font-size: 1.5rem;
    }
  }
  

  .container-banner-contact2{
    background-image: url("../img/postularme.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
  }
  
  
  #result {
    padding: 3px;
  }
  #result:active{
    border: 1px solid white;
  }
  #result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #result ul li {
    padding: 5px 0;
  }
  #result ul li:hover {
    background: #eee;
  }
  
  .enroll-now{
    position:absolute;
    left:150px;
    top:200px;
    max-width:320px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .enroll-now h2{
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .enroll-now .btn{
    border-radius: 0;
    padding: 0.7em 1em;
    margin:0 auto;
    margin-top: 1em;
  } 
  
  
  @media (max-width: 576px) {
        .enroll-now{
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        .enroll-now h2{
          font-size: 1rem;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }  

    .form-control:focus{
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.25);
    }
/***********************************************************/

    .footer-32892 {
      background-color: #202126;
      padding: 2rem 0;
      color: #888;
      font-size: 16px; }
      .footer-32892, .footer-32892 h3 {
        font-family: "Poppins", sans-serif; }
      .footer-32892 h3 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 30px; }
      .footer-32892 p {
        font-family: "Source Serif Pro", serif; }
      .footer-32892 .row.gallery {
        margin-right: -5px;
        margin-left: -5px; }
        .footer-32892 .row.gallery > [class^="col-"],
        .footer-32892 .row.gallery > [class*=" col-"] {
          padding-right: 5px;
          padding-left: 5px; }
      .footer-32892 .gallery a {
        display: block;
        margin-bottom: 10px;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .footer-32892 .gallery a:hover {
          opacity: .5; }
      .footer-32892 .quick-info li {
        color: #fff;
        font-size: 16px;
        margin-bottom: 10px; }
        .footer-32892 .quick-info li a {
          color: #fff; }
        .footer-32892 .quick-info li .icon {
          font-size: 20px;
          color: #B30036; }
      .footer-32892 .subscribe {
        position: relative; }
        .footer-32892 .subscribe .form-control {
          background-color: #292b31;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 30px;
          height: 55px;
          padding-left: 30px;
          padding-right: 130px;
          border: none;
          color: #fff; }
          .footer-32892 .subscribe .form-control::-webkit-input-placeholder {
            color: #ccc;
            font-size: 14px; }
          .footer-32892 .subscribe .form-control::-moz-placeholder {
            color: #ccc;
            font-size: 14px; }
          .footer-32892 .subscribe .form-control:-ms-input-placeholder {
            color: #ccc;
            font-size: 14px; }
          .footer-32892 .subscribe .form-control:-moz-placeholder {
            color: #ccc;
            font-size: 14px; }
        .footer-32892 .subscribe .btn-submit {
          background: #B30036;
          height: 47px;
          border-radius: 30px;
          padding-left: 30px;
          padding-right: 30px;
          color: #fff;
          font-weight: bold;
          position: absolute;
          top: 4px;
          right: 4px;
          -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
      .footer-32892 .tweets li {
        margin-bottom: 20px;
        font-size: 15px;
        font-style: italic;
        font-family: "Source Serif Pro", serif; }
        .footer-32892 .tweets li span {
          color: #fff; }
      .footer-32892 .footer-menu-wrap {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 2rem !important;
        margin-top: 7rem; }
      .footer-32892 .footer-menu {
        margin-bottom: 0; }
        .footer-32892 .footer-menu li {
          display: inline-block; }
          @media (max-width: 767.98px) {
            .footer-32892 .footer-menu li {
              display: block; } }
          .footer-32892 .footer-menu li a {
            padding: 10px;
            display: inline-block;
            color: #fff; }
            @media (max-width: 767.98px) {
              .footer-32892 .footer-menu li a {
                display: block;
                padding-left: 0px; } }
          .footer-32892 .footer-menu li:first-child a {
            padding-left: 0; }
      .footer-32892 .site-logo {
        color: #fff;
        font-size: 20px; }


/**************************************************************************/

.scroll-container{
  position:fixed;
  bottom: 40px;
  right: 40px;
  background: rgba(193, 53, 53, 0.604);
  display: flex;
  border-radius: 50%;
  height:70px;
  width:70px;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
  z-index: 10;
}

.scroll-container:hover{
  background: rgba(193, 53, 53, 0.8);
}

@media (max-width:768px){
  .scroll-container{
    background:transparent;
    bottom: 20px;
    right: 20px;
  }
  .scroll-container:hover{
    background: transparent;
  }
}
.indicator{
  position:relative;
  top:40%;
  height: 15px;
  width: 15px;
  transform: translateY(-170%) rotate(45deg);
}

.indicator span{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.60);
  border-right: 1px solid rgba(255, 255, 255, 0.60);
  animation: animate 1s linear infinite;
}

.indicator span:nth-child(1){
  top:-18px;
  left:-18px;
  animation-delay:0.1s;
}

.indicator span:nth-child(2){
  top:-12px;
  left:-12px;
  animation-delay:0.2s;
}

.indicator span:nth-child(3){
  top:-6px;
  left:-6px;
  animation-delay:0.3s;
}

.indicator span:nth-child(4){
  top:0px;
  left:0px;
  animation-delay:0.4s;
}

@keyframes animate{
  0%{
      border-color: #fff;
      transform: translate(0,0);
  }
  20%{
      border-color: #fff;
      transform: translate(10px,10px);
  }

  20.1%,100%{
      border-color: rgba(255, 250, 250, 0.345);
  }
}

.rotate-scroll{
  transform: rotate(180deg);
}

