<div id="carouselExampleInterval" class="carousel slide carousel-top" data-bs-ride="carousel">
    <div class="carousel-inner text-white">
      <div class="carousel-item active" data-bs-interval="4000">
        <p class="m-0 p-1 top-ban">TU CENTRO TEXTIL</p>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <p class="m-0 p-1 top-ban">¡LO MÁXIMO EN TELAS!</p>
      </div>
    </div>
  </div>